extend layout
block hero
  .jumbotron#intro: header: .container
    h1(style='color:#DB6837').text-shadowed Welcome to CodeBench.
    h3 We benchmark your code and stack your solutions against the best.

block content

  h2 > Put your code to the test.
  br
  ul.nav.nav-tabs
    li.active: a(href='#1', data-toggle='tab') Top Questions
    li: a(href='#2', data-toggle='tab') Newest 
  
  #content.tab-content
    #1.tab-pane.active
      if questions
        .container
          each question, i in questions
            .row(class=(i % 2 == 0) ? 'light-row' : 'dark-row')
              .col-md-1
                h3.float-left #{question.upvotes - question.downvotes}
                img.center(src=(question.vote == 1 ? "/thumbs-up-good.png" : "/thumbs-up.png") height='30' width='30' style='margin-top:13px' onclick='toggleUp(this, #{question.question_id});')
                img.center(src=(question.vote == -1 ? "/thumbs-down-bad.png" : "/thumbs-down.png") height='30' width='30' style='margin:auto' onclick='toggleDown(this, #{question.question_id});')
              .col-md-11
                h3: a(href="/problem/#{question.question_id}") #{question.title}
                h5 Submitted by #{question.username}

    script.
      var toggleUp = function(thumb, qid) {
        parent = $(thumb).parent();
        imagepath = $(thumb).attr('src');
        votes = $(parent).children('h3')[0];
        if (imagepath == '/thumbs-up.png') {
          otherThumb = $(parent).children('img')[1];
          if ($(otherThumb).attr('src') == '/thumbs-down-bad.png') {
            $(otherThumb).attr('src', '/thumbs-down.png');
            $(votes).text(parseInt($(votes).text()) + 1);
          }
          $(thumb).attr('src', '/thumbs-up-good.png');
          $(votes).text(parseInt($(votes).text()) + 1);
          $.post("/SetQVote/" + qid + "/1");
        } else {
          $(thumb).attr('src', '/thumbs-up.png');
          $(votes).text(parseInt($(votes).text()) - 1);
          $.post("/SetQVote/" + qid + "/0");
        }
      }
      var toggleDown = function(thumb, qid) {
        parent = $(thumb).parent();
        imagepath = $(thumb).attr('src');
        votes = $(parent).children('h3')[0];
        if (imagepath == '/thumbs-down.png') {
          otherThumb = $(parent).children('img')[0];
          if ($(otherThumb).attr('src') == '/thumbs-up-good.png') {
            $(otherThumb).attr('src', '/thumbs-up.png');
            $(votes).text(parseInt($(votes).text()) - 1);
          }
          $(thumb).attr('src', '/thumbs-down-bad.png');
          $(votes).text(parseInt($(votes).text()) - 1);
          $.post("/SetQVote/" + qid + "/0");
        } else {
          $(thumb).attr('src', '/thumbs-down.png');
          $(votes).text(parseInt($(votes).text()) + 1);
          $.post("/SetQVote/" + qid + "/0");
        }
      }

    #2.tab-pane
      if questions
        .container
          each question, i in questions
            .row(class=(i % 2 == 0) ? 'light-row' : 'dark-row')
              .col-md-1
                h3.float-left #{question.upvotes - question.downvotes}
                img.center(src="/thumbs-up.png" height='30' width='30' style='margin-top:13px' onclick='toggleUp(this, #{question.question_id});')
                img.center(src="/thumbs-down.png" height='30' width='30' style='margin:auto' onclick='toggleDown(this, #{question.question_id});')
              .col-md-11
                h3: a(href="/problem/#{question.question_id}") #{question.title}
                h5 Submitted by #{question.username}