extend layout
block content
	if question
		div.container
			include question.jade
			if submissions
				| #{submissions.length} answers
			else
				Nobody has submitted an answer.
	hr

	if submissions
		div.container
			for submission in submissions
				h2
					| #{JSON.parse(submission.result).time} seconds
				h5
					| posted by #{submission.username}        

				pre.prettyprint
					code
						| #{submission.code}
				| #{submission.message}
				br
				br
	if user
		div.container
			if submissions.length > 0
				hr
			script.
				$(document).ready(
					function() {
					$('#solution').tabby();
					$('#tabs').tab();
					}
				);

			h1 Ready to post your solution?
			form.form-horizontal(method="post" action="/submitSolution" novalidate)
				div.modal-body
					
					// Message
					div.control-group
						label.control-label( for="response") Response
						.controls
							textarea#response(class="form-control" name="message" placeholder="Explain your algorithm in plain english" rows="5" cols="150" required)

					// Solution
					div.control-group
						label.control-label(for="solution") Solution
						div#languageSelector.btn-group
							button#javaSelector.btn.btn-default(type="button") Java
							button#pythonSelector.btn.btn-default(type="button") Python
					ul.nav.nav-tabs
						li.active
							a(href='#1', data-toggle='tab') Main
						li
							a#addClass(href='#2', data-toggle='tab') +
					#content.tab-content
						#1.tab-pane.active
							textarea#solution(class="form-control" name="solution" rows="30" cols="150" required)
							input(type="hidden" name="problemId" value="#{question.question_id}")
						#2.tab-pane
							textarea#solution(class="form-control" name="solution" rows="30" cols="150" required)
							input(type="hidden" name="problemId" value="#{question.question_id}")
						.controls
							div(id="editor" class="form-control")
								| public static void main(String[] args){
								|   // code away!
								| }
							script(src="/ace-min/ace.js" type="text/javascript" charset="utf-8")
							script(src="/ace-min/mode-java.js" type="text/javascript" charset="utf-8")
							script(src="/ace-min/mode-python.js" type="text/javascript" charset="utf-8")
							script(src="/ace-min/theme-eclipse.js" type="text/javascript" charset="utf-8")
							textarea#solution(class="form-control" name="solution" required)
							input(type="hidden" name="problemId" value="#{question.question_id}")

					// Footer
					div.modal-footer
						.form-actions
							button#submit(type="submit" class="btn btn-primary") Submit
								i(class="icon-ok icon-white")
	script(src="/post.js" type="text/javascript" charset="utf-8")
