h2.text-shadowed #{question.title}
h5.poster Submitted by #{question.username}
br
p #{question.problem}
div.row
  if question.input
    .col-md-6
      h4 Test Inputs
      textarea.form-control.inout(readonly) #{question.input}
    .col-md-6
      h4 Expected Outputs
      textarea.form-control.inout(readonly) #{question.output}
  else
    .col-md-12
      h4 Expected Outputs
      textarea.form-control.inout(readonly) #{question.output}